@media screen and (max-width: 701px) {
body{
  width: auto;
}
#pagewrap {
		width: 95%;
}
.main {
  flex-direction: column;
}
.main_text{
	text-align: center;
  width: 100%;
}
.icon{
  width: 100%;
	margin-top: 2rem;
}
.icon > p {
	text-align: center;
}
.degrees {
  margin-top: 0rem;
	font-size: 5rem;
}
.description {
  font-size: 3rem;
}
.ruler{
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}
}


@media screen and (max-width: 980px) and (min-width: 700px) {

#pagewrap {
  width: 95%;
}
.icon{
  width:30%;
  margin-top: 7rem;
}
.main_text{
  width: 60%;
}
li{
	letter-spacing:-0.2px;
	}
.ruler{
  width: 90%;
  margin-left:0;
}
}
